.left-nav{
    background-color: #091edf;
    height: 100vh;
     
}

.grps{
    margin-top: 5%;
}



.containt{
    height: 80vh;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border: 2px solid green;
    border-radius: 2em;
   
}
h1{
    margin-top: 40px;
}
.child{
    display: inline-block;
}

